<footer class="app-footer">
    <div class="footer-content">
      <p>&copy; 2025 DJ Baka. Alle Rechte vorbehalten.</p>
      <div class="social-links">
        <a href="https://www.instagram.com/deejaybaka" target="_blank"> insta
            <mat-icon>instagram</mat-icon> insta
        </a>
        <a href="https://soundcloud.com/deejaybaka" target="_blank"> soundcloud
            <mat-icon>headset</mat-icon> soundcloud
        </a>
        <a href="https://mixcloud.com/djbaka" target="_blank"> mixcloud
            <mat-icon>radio</mat-icon> mixcloud
        </a>
      </div>
    </div>
  </footer>
  