<footer class="app-footer fade-in fade-in-fast">
    <div class="footer-content">
      <p>&copy; 2025 DJ Baka. Alle Rechte vorbehalten.</p>
      <div class="social-links fade-in fade-in-medium">
        <a href="https://www.instagram.com/deejaybaka" target="_blank" class="fade-in fade-in-slow"> insta
            <mat-icon>instagram</mat-icon> insta
        </a>
        <a href="https://soundcloud.com/deejaybaka" target="_blank" class="fade-in fade-in-slow"> soundcloud
            <mat-icon>headset</mat-icon> soundcloud
        </a>
        <a href="https://mixcloud.com/djbaka" target="_blank" class="fade-in fade-in-slow"> mixcloud
            <mat-icon>radio</mat-icon> mixcloud
        </a>
      </div>
    </div>
  </footer>
  