<div class="track-promo-container fade-in fade-in-medium">
    <div class="track-promo-text fade-in fade-in-medium">
      <span class="promo-label fade-in fade-in-slow" *ngIf="subtitle"><strong>{{ subtitle }}</strong></span>
      <h1>{{ title }}</h1>
      <p *ngIf="!description1">{{ description1 }}</p>
      <p *ngIf="!description2">{{ description2 }}</p>
      <p class="fade-in fade-in-slow">{{ description1 }}</p>
      <p class="fade-in fade-in-slow">{{ description2 }}</p>
      <a class="promo-button fade-in fade-in-slow" [href]="buttonLink" target="_blank" rel="noopener noreferrer">
        {{ buttonText }}
      </a>
    </div>
  
    <div class="track-promo-image fade-in fade-in-slow">
      <img [src]="imageUrl"
           [alt]="title"
           width="500"
           height="500"
           loading="lazy" />
    </div>
</div>
  