<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-8 mx-auto">
      <div class="table-responsive">


        <form (ngSubmit)="insertData()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name"  class="form-control" [(ngModel)]="employee.name">
            </div>
                <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email"  class="form-control" [(ngModel)]="employee.email">
            </div>
                <div class="form-group">
                <label for="salary">Gehalt</label>
                <input type="text" name="salary"  class="form-control" [(ngModel)]="employee.salary">
            </div>

            <button class="btn btn-dark btn-sm mt-4">Add Employee</button>

        </form>


        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Salary</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employees">
              <th scope="row">{{ emp.id }}</th>
              <td>{{ emp.name }}</td>
              <td>{{ emp.email }}</td>
              <td>{{ emp.salary }}</td>
              <td>
                <button class="btn btn-danger btn-sm mt-4" (click)="removeData(emp.id)">Remove Employee</button>
                <button class="btn btn-warning btn-sm mt-4 mx-2" [routerLink]="['/employees', emp.id]">Edit Employee</button>
                </td>
            </tr>
          </tbody>
        </table>





      </div>
    </div>
  </div>
</div>
