/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    /*background-color: #121212; /* Dunkles Thema für deinen Hard Techno Look */
    /*color: #fff; /* Weißer Text auf dunklem Hintergrund */
    background-color: var(--color-background);
    color: var(--color-text);

  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  
  main {
    padding: 20px;
    /*background-color: #121212;*/
    background-color: var(--color-background);
    color: var(--color-text);
    flex: 1;
  }
  
  /* Content Wrapper */
  .content-wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 80vh;
    padding: 0;
    display: block; /* Entfernt das flex-Layout */
}

  
  /* Footer */
  app-footer {
    background-color: var(--color-background2); /* Dunkler Footer */
    color: var(--color-text);
    padding: 20px 0;
    text-align: center;
  }
  
  /* Optional: Animierte Scroll-Effekte */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .content-wrapper {
    animation: fadeIn 2s ease-in-out;
  }
  
  .app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

