<div class="columne-links">
    <div class="columne-text">
      <h4>DIR GEFÄLLT WAS DU HÖRST?</h4>
      <h2>FINDE MEHR INFOS, Musik & SETS VON MIR</h2>
    </div>
    <div class="columne-links-bar">
      <div class="social-links">
        <div class="social-column">
          <a href="https://discord.djbaka.com/" target="_blank" rel="noopener noreferrer" class="social-button discord">
            <i class="fab fa-fw fa-discord"></i>
          </a>
          <h4>DISCORD Server</h4>
        </div>
      
        <div class="social-column">
          <a href="https://open.spotify.com/intl-de/artist/4RdGBkJjI7O7KWbXtmU3kD?si=fff9fced23c44300" target="_blank" rel="noopener noreferrer" class="social-button spotify">
            <i class="fab fa-fw fa-spotify"></i>
          </a>
          <h4>SPOTIFY</h4>
        </div>
      
        <div class="social-column">
          <a href="https://www.youtube.com/@DJBaka" target="_blank" rel="noopener noreferrer" class="social-button youtube">
            <i class="fab fa-fw fa-youtube"></i>
          </a>
          <h4>YOUTUBE</h4>
        </div>
      
        <div class="social-column">
          <a href="https://www.twitch.tv/deejaybaka" target="_blank" rel="noopener noreferrer" class="social-button twitch">
            <i class="fab fa-fw fa-twitch"></i>
          </a>
          <h4>Twitch</h4>
        </div>
      
        <div class="social-column">
          <a href="https://soundcloud.com/deejaybaka" target="_blank" rel="noopener noreferrer" class="social-button soundcloud">
            <i class="fab fa-fw fa-soundcloud"></i>
          </a>
          <h4>SOUNDCLOUD</h4>
        </div>
      </div>
      
    </div>
  </div>
  