<div class="social-button-group fade-in fade-in-fast">
    <a href="http://discord.djbaka.com/" target="_blank" class="social-button discord fade-in fade-in-slow">
      <i class="fab fa-discord"></i> <span>Discord</span>
    </a>
    <a href="https://open.spotify.com/intl-de/artist/4RdGBkJjI7O7KWbXtmU3kD?si=EFckzXbHTxWLByfVspegJQ" target="_blank" class="social-button spotify fade-in fade-in-slow">
      <i class="fab fa-spotify"></i> <span>Spotify</span>
    </a>
    <a href="https://www.youtube.com/@DJBaka" target="_blank" class="social-button youtube fade-in fade-in-slow">
      <i class="fab fa-youtube"></i> <span>YouTube</span>
    </a>
    <a href="https://www.twitch.tv/deejaybaka" target="_blank" class="social-button twitch fade-in fade-in-slow">
      <i class="fab fa-twitch"></i> <span>Twitch</span>
    </a>
    <a href="https://soundcloud.com/deejaybaka" target="_blank" class="social-button soundcloud fade-in fade-in-slow">
      <i class="fab fa-soundcloud"></i> <span>SoundCloud</span>
    </a>
  </div>
  