<div class="mixes-container">
    <div class="mix" *ngFor="let video of videos">
      <div *ngIf="!loadedVideos.has(video.videoId)" class="thumbnail-container">
        <img [src]="'https://i.ytimg.com/vi/' + video.videoId + '/maxresdefault.jpg'" alt="Mix Thumbnail" />
        <div class="overlay">
          <button (click)="loadVideo(video.videoId)">Inhalte von YouTube laden</button>
        </div>
      </div>
      <iframe
        *ngIf="loadedVideos.has(video.videoId)"
        width="560"
        height="315"
        [src]="loadedVideos.get(video.videoId)"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  