
<div class="wp-block-themeisle-blocks-advanced-columns-overlay"></div>
<div class="home-container fade-in fade-in-fast">
  <div class="home-picture-container fade-in fade-in-medium">
    <h1 class="fade-in fade-in-slow">Willkommen auf der DJ Baka Seite</h1>
    <p>Erlebe die neuesten Mixes, Events und mehr!</p>
    <button class="button fade-in fade-in-slow">Mehr erfahren</button>
  </div>
  <div class="home-content-container">
    <div class="home-columne-links-black-container fade-in fade-in-slow">
      <app-columnes-links-black></app-columnes-links-black>
    </div>
    <div>
      <app-track-promo></app-track-promo>
    </div>
    <div class="home-columne-links-container fade-in fade-in-slow">
      <app-columnes-links></app-columnes-links>
    </div>
  </div>

  
</div>

  