.blog-posts-container {
    max-width: var(--padding-content);
    margin: 0 auto;
    margin-bottom: 150px;
    padding: 20px;
    background-color: var(--color-background-blog);
    opacity: 0; /* Startet unsichtbar */
    transform: translateY(20px); /* Leichte Verschiebung nach unten */
    animation: fadeIn 1.5s ease-out forwards; /* Fade-In-Effekt mit Bewegung */
}

.blog-posts-container img {
    width: 100%;
    margin-bottom: 20px;
    opacity: 0; /* Startet unsichtbar */
    transform: translateY(20px); /* Leichte Verschiebung nach unten */
    animation: fadeIn 1.5s ease-out forwards; /* Fade-In-Effekt mit Bewegung */
}

.blog-posts-container h2 {
    width: 100%;
    opacity: 0; /* Startet unsichtbar */
    transform: translateY(20px); /* Leichte Verschiebung nach unten */
    animation: fadeIn 3.5s ease-out forwards; /* Fade-In-Effekt mit Bewegung */
}
.blog-posts-container .author {
    width: 100%;
    opacity: 0; /* Startet unsichtbar */
    transform: translateY(20px); /* Leichte Verschiebung nach unten */
    animation: fadeIn 5.5s ease-out forwards; /* Fade-In-Effekt mit Bewegung */
}

.blog-posts-container .summary {
    width: 100%;
    opacity: 0; /* Startet unsichtbar */
    transform: translateY(20px); /* Leichte Verschiebung nach unten */
    animation: fadeIn 1.5s ease-out forwards; /* Fade-In-Effekt mit Bewegung */
}

.blog-posts-container a {
    text-decoration: none;
    background-color: var(--color-button);
    color: var(--color-text);
    padding: 10px 20px;
    border-radius: 2px;
    display: inline-block;
}